.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 1px solid var(--background2);
}

.title {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
}
