.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  border-top: 1px solid var(--background2);
  transition-property: background-color;
  transition-duration: 0.2s;
  cursor: pointer;
}

.container:active {
  background-color: var(--background2);
}

.title {
  flex: 1;
  margin-left: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.trackNumber {
  color: var(--subtext);
  width: 2ch;
  text-align: right;
}

.downloadIcon {
  color: var(--subtext);
  font-size: smaller;
}
